<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/videos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese el email" #email></ion-input>
          <input type="file" id="video" #video>
          <ion-button color="primary" (click)="saveNewVideo(email,video)"> Enviar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
