<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let video of videos" [routerLink]="['/videos',video.id]">
      <ion-avatar slot="start">
        <ion-img [src] ="video.urlMiniImg" ></ion-img>
      </ion-avatar>
      <ion-label>
        {{video.email}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewVideo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
